@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {
  --primary-color: #224600;
  --button-color: #DCE9CF;
  --homepage-bg: rgb(236, 223, 212);
  --background-color: #DCE9CF;
  --accent-color: #D92E00;
  --font-color: #224600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-color);
  background: white;
} 

a {
  text-decoration: none; 
  color: var(--primary-color);

  &:hover {
    color: var(--accent-color);
  }
}
li {
  list-style-type: none;
}

//BUTTONS

button {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-color: white;
  font-family: "Playfair Display";

  border-style: none;
  transition-duration: 200ms;

  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  font-size: 2.5rem;
  // text-shadow: 2px 2px 6px var(--homepage-bg);
  letter-spacing: 0.5rem;
  color: var(--font-color);
}

.exit-button {
  height: 3rem;
  width: 3rem;
  border-style: none;
  color: var(--accent-color);
  background-image: none;
  margin: 5px;
  transition: all 300ms;

  &:hover {
    transform: rotate(90deg);
    transition-duration: 300ms;
  }
}

//SCROLL BAR

::-webkit-scrollbar {
  color: var(--accent-color);
}

::-webkit-scrollbar-track {
  background: var(--homepage-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--font-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

.home {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "about about about"
    "works logo services"
    "contact contact contact";

  button:hover {
    background-color: var(--button-color);
    background-image: url("../img/pine-tree.png");
    background-position: 30% 20%;
    background-size: 500px, 500px;
    transition-duration: 0ms;
  }

  .about-toggle-area {
    grid-area: about;
    display: grid;
    place-items: center;
  }

  .works-toggle-area {
    grid-area: works;
    display: grid;
    place-items: center;
  }
  .logo-area {
    grid-area: logo;
    display: grid;
    place-items: center;

    .logo {
      height: 200px;
      padding: 1rem;
    }
  }
  .services-toggle-area {
    grid-area: services;
    display: grid;
    place-items: center;
  }
  .contact-toggle-area {
    grid-area: contact;
    display: grid;
    place-items: center;
  }
  
}

//NAV

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 30px;
    svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//ABOUT PAGE

.about {
  position: fixed;
  background-color: var(--background-color);
  top: -100%;
  height: 100vh;
  width: 100%;
  overflow: auto;
  transition-duration: 500ms;
  display: grid;
  grid-auto-flow: column;
}
.about-show {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  overflow: auto;
  transition-duration: 500ms;
  display: grid;
  grid-auto-flow: column;

}
.about-area {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  h2{
    font-size: 2rem;
    color: var(--homepage-bg);

    span{
    color: var(--primary-color);
    }
  }
  .about-item{
    height: 80vh;
    width: 500px;
    font-size: 5.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}

//WORKS PAGE

.works {
  position: fixed;
  left: -100%;
  background-color: var(--background-color);
  height: 100vh;
  min-width: 100%;
  transition-duration: 500ms;
  overflow: auto;
}
.works-show {
  position: fixed;
  left: 0;
  background-color: var(--background-color);
  height: 100vh;
  min-width: 100%;
  transition-duration: 500ms;
  overflow: auto;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  height: 80vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .project-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    filter: brightness(70%);
  }
  .project-info {
    text-align: center;
    position: absolute;
    z-index: 5;
    color: #f1f1f1;
  }
}

//SERVICES PAGE

.services {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  transition-duration: 500ms;
}
.services-show {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  overflow: auto;
  transition-duration: 500ms;
  scroll-snap-type: y proximity;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.image-holder {
  height: 200px;
  width: 200px;
  background-color: #555;
}
.service-container {
  scroll-snap-align: start;
  // position: relative;

  footer {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
    // scroll-snap-align: end;
  }
  .service {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    scroll-snap-align: start;

    hr {
      width: 80%;
      align-self: center;
      border: 1px solid var(--accent-color);
    }

    h2 {
      font-size: 8rem;
      display: flex;
      align-self: center;
      justify-content: center;
      padding-bottom: 3%;
      svg {
        display: flex;
        align-self: center;
        justify-content: center;
        margin: 1rem 2rem 0 0;
        color: var(--primary-color);
      }
    }

    h3 {
      padding-top: 5%;
      align-items: center;

      // margin: 0rem 15rem;
      margin: 0 25rem;
    }
    p {
      // column-count: 2;
      align-items: right;
      margin: 3rem 25rem;
      font-size: 1.1rem;
    }
    ul {
      .list-title {
        font-weight: 800;
      }
      li {
        text-decoration: wavy;
      }
    }
  }
}

//CUSTOM CSS

.custom-shape-divider-top-1648811132 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1648811132 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-top-1648811132 .shape-fill {
  fill: var(--background-color)
}
.custom-shape-divider-top-1648811517 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1648811517 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-top-1648811517 .shape-fill {
  fill: var(--homepage-bg);
}

#web-design {
  height: auto;
  padding-bottom: 50px;

  h2 {
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
    // background-image: url(../img/forest.gif);
  }
}

#branding {
  background-color: var(--homepage-bg);
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

#tech-support {
  background-color: rgb(212, 232, 236);
  height: auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

//CONTACT PAGE

.contact {
  position: fixed;
  top: 100%;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  transition-duration: 500ms;
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
}
.contact-show {
  position: fixed;
  top: 0;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  transition-duration: 500ms;
  overflow: auto;
  display: grid;
  grid-auto-flow: column;
}

.contact-area {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
 

  .contact-item {
    height: 80vh;
    width: 500px;
    font-size: 5.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
  }
  .socials-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 5rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      :hover {
        color: var(--accent-color);
      }
    }
  }
}
#bottom-line {
  position: absolute;
  right: -90vw;
  width: 110vw;
  border-color: var(--accent-color);
}
#top-line {
  position: absolute;
  left: 0;
  width: 110vw;
  border-color: var(--accent-color);
}

@media screen and (max-width: 720px) {
  //GLOBAL

  button {
    height: 3rem;
    width: 3rem;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 5%;

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  //HOME
  .home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo"
      "about"
      "works"
      "services"
      "contact";

    .logo-area .logo {
      height: 150px;
    }
  }
  //ABOUT
.about-area{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  
  .about-item {
    height: 80vh;
    width: 350px;
    font-size: 4rem;
    margin-left: 3rem;
    text-align: center;
  }
}
  

  //SERVICES
  .service-container {
    scroll-snap-align: start;

    .service {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      scroll-snap-align: start;

      hr {
        width: 80%;
        align-self: center;
        border: 1px solid var(--accent-color);
      }

      h2 {
        font-size: 4rem;

        padding-bottom: 3%;
        svg {
          display: none;
        }
      }
      h3 {
        padding-top: 5%;
        align-items: center;
        font-style: italic;
        margin: 1rem;
      }
      p {
        font-size: 1.1rem;
        margin: 1rem;
      }
    }
  }
  //WORKS
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    scroll-snap-type: mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }

  .project {
    height: 50vh;
    margin: 5px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-snap-align: start;
    .project-img {
      // max-width: 100%;
      // max-height: 100%;
      filter: brightness(70%);
    }
    .project-info {
      text-align: center;
      position: absolute;
      z-index: 5;
      color: #f1f1f1;
    }
  }

  //CONTACT

  .contact-area {
    display: grid;
    grid-auto-flow: column;
    place-items: center;

    .contact-item {
      height: 80vh;
      width: 350px;
      font-size: 4rem;
      margin-left: 3rem;
      text-align: center;
    }
  }
}
